<div class="container">
  <div class="wishlist-title mb-3">
    <h1 class="h1-wishlist"><%= @user.username %>'s wishlist:</h1>
  </div>
  <% if @wishlists.empty? %>
  <p>No games added to wishlist yet</p>
  <% else %>
  <ul class="container wishlist">
        <% @wishlists.each do |wishlist| %>
          <li>
            <div class="item-list" >
              <div class="number">
                <p data-wishlist-target="number"><%= @i += 1 %></p>
              </div>
              <div class="card-product">
                <%= link_to game_path(wishlist.game) do%>
                <%= image_tag "#{wishlist.game.cover}"%>
                <% end %>
                <div class="card-product-infos">
                  <h2><%= wishlist.game.name %></h2>
                    <p><%= truncate(wishlist.game.summary, length: 500, separator: ". ") %></p>
                  <%= link_to game_path(wishlist.game) do %>
                  <div class="secret-wishlist">
                    <p><%= wishlist.game.rating.to_i %>/100</p>
                    <p><%= wishlist.game.platforms.join(', ') %></p>
                    <p>See more</p>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>

          </li>
        <% end %>
  </ul>
  <% end %>
</div>
